<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
            Hello {{body}}! Number input was: {{num}}
        </div>
        <h1>BTW... ZA WARUDO</h1>
    </div>
    <div class="app"></div>
    <script src="/test.js" defer></script>
</body>

</html>